/* .view {
  padding: 20px;
  width: 100%;
  color: white;
  overflow: auto;
} */

@media only screen and (max-width: 2000px) {
  .gallery {
    width: 90%;
    height: 100%;
    padding-top: 15%;
    margin: auto;
  }

  .view {
    padding: 20px;
    height: 100vh;
    width: 100%;
    color: white;
    overflow: auto;
  }
}

@media only screen and (max-width: 950px) {
  .gallery {
    width: 90%;
    height: 100%;
    padding-top: 11%;
    margin: auto;
  }

  .view {
    padding: 20px;
    height: 100vh;
    width: 100%;
    color: white;
    overflow: auto;
  }
}

@media only screen and (max-width: 600px) {
  .gallery {
    width: 90%;
    height: 100%;
    padding-top: 20%;
    margin: auto;
  }

  .view {
    padding: 20px;
    height: 100vh;
    width: 100%;
    color: white;
    overflow: auto;
  }
}

.view h1 {
  font-size: 2rem;
}

.view h2 {
  font-size: 1.5rem;
  padding: 10px 0px;
}

.view h3 {
  font-size: 1.2rem;
  padding: 10px 0px;
}

.events {
  margin: 0px auto;
}

.images {
  margin-top: 20px;
}
