.view {
  height: 100%;
  width: 100%;
  background-color: black;
}

.add-sail {
  padding-top: 90%;
}

.btn-bottom {
  position: absolute;
  margin-left: -50px;
  left: 50%;
  width: 100px;
  bottom: 5%;
}

.sails-table {
  max-width: 90%;
  /* min-height: 70%; */
  /* height: 50vh; */
  position: absolute;
  bottom: 75%;
}
